.frontend {
  height: 50%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backend {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
